@import "/css/global.css";


/* iframe in id map should use the full space left */

#map {
    min-width: 100%;
    height: 100%;
    height: 90vh;
}

#map iframe{
    min-width: 100%;
    height: 100%;
    border: none;
}


.rank {
    background: var(--default-rank-color);
}

/*Footer*/
#footer {
    background: var(--stats-background);
}


